extends layout

block content
	title Activity Log
	.ui.middle.center.aligned.grid.stackable.doubling
		// Title
		.fourteen.wide.column.row#menu-row
			.ui.container
				h1.ui.dividing.header.center.aligned Activity Log

		// Table Proper
		.ui.container
			table#activity-log-table.ui.celled.table.selectable
				thead
					tr
						th Type
						th Issued By
						th Date
				tbody
					each item, index in log
						tr.entry(data-an= item.adviceNumber)
							td= item.message
							td= item.issuedBy
							td= item.timestamp

	script(type='text/javascript').
		var log;

		$.ajax({
			type: "GET",
			url: "/log",
			dataType: "json",
			success: function(data) {
				console.log(data);
				log = data;
			}
		});

		$(document).ready(function(){
			$('#activity-log-table').DataTable();
		});
