extends layout

block content
	.two.fields.center2
		.field
			i.add.user.icon.massive.red
		.field
			h2.ui.dividing.header Add employee
	form.ui.form.box.center2#addemployee(name='addemployee', method='post', action='/employees/addemployee')
		.field
			label Name
			.ui.input
				input(name="name", type='text', placeholder='Name')
		.two.fields
			.field
				label Start Date of Employment
				.ui.calendar#startDate
					.ui.input.left.icon
						i.calendar.icon
						input(name="start", type="text", placeholder="Date")

			.field
				label Birthday
				.ui.calendar#checkDate
					.ui.input.left.icon
						i.calendar.icon
						input(name="birthday", type="text", placeholder="Date")

		.fields
			.field
				label Position
				select(name='position').ui.fluid.search.dropdown
					option(value="") Select Option...
					option(value=0) Teacher
					option(value=1) Admin
					option(value=2) Staff
			.field
				label Civil Status
				select(name='status').ui.fluid.search.dropdown
					option(value="") Select Option...
					option(value=0) Single
					option(value=1) Married
		.field
			label Dependents
				.ui.input
					input(name="dependents", type="number", placeholder="How many?")
		.field
			label Base Salary
				.ui.input
					input(name="salary", type="number", placeholder="Salary")
		.ui.error.message
		.ui.primary.button#confirm Submit

		.ui.small.modal
			.header Confirm
			.content
				| Confirm Add Employee
			.actions
				.ui.positive.submit.right.button OK

	script(type='text/javascript' src='/javascripts/scripts.js')
	script.
		$('#confirm').click(function(){
			$('.small.modal').modal('show');
		});
