doctype html
html(lang='en')
  head
    title Backup Now
  body
    h1 Local or Cloud Backup
    #container.col
      input(type='button', onclick="location.assign('/backup/localbackup');", value='Local Backup')
    #container.col
      input(type='button', onclick="location.assign('/backup/cloudbackup');", value='Cloud Backup')
    #container.col
      input(type='button', onclick="location.assign('/backup');", value='Cancel')

