extends layout

block content
	title Back Up Now
	.ui.middle.aligned.center.aligned.grid.stackable.doubling

		.seven.wide.column.row#menu-row(style="margin-top:17vh; margin-bottom:50;")
			.section-title.ui.center.aligned.segment
				h1 Back Up Now

		.four.column.wide.row
			.column
				#back-up-locally.ui.animated.fade.red.button(tabindex="0" onclick="location.assign('/backup/localbackup');", value='Local Backup')
					.visible.content
							//- img.ui.tiny.centered.middle.aligned.image(src="icons/backup/download-arrow.png")
							i.massive.download.icon

							h2 Back Up Locally
					.hidden.content
						h4 
							| Back Up
							br
							| to a Local File
			.column
				#back-up-to-cloud.ui.animated.fade.red.button(tabindex="0" onclick="location.assign('/backup/cloudbackup');", value='Cloud Backup')
					.visible.content
						//- .ui.container.main-menu-button
							//- img.ui.tiny.centered.middle.aligned.image(src="icons/backup/upload_to_cloud.png")
						i.massive.cloud.upload.icon
						h2 Cloud Back Up
					.hidden.content
						h4 
							|Back Up
							br
							|to an Online Server

		.ui.container
			button.ui.red.button.right.floated.column.center.aligned#backup-now-cancel-button(onclick="location.assign('/backup')") Back

	.ui.small.modal#alert-backup-modal
		.header Success
		.content
			| Update Successful
		.actions
			.ui.positive.submit.right.button#update-alert OK

	script(type='text/javascript', src='/javascripts/backupNow.js')
