extends layout

block content
	title Add Employee

	.ui.middle.aligned.center.aligned.grid.stackable.doubling

		.seven.wide.column.row#menu-row(style="margin-top:17vh; margin-bottom:50;")
			.section-title.ui.center.aligned.segment
				h1 Auto Backup Settings

		.four.column.wide.row
			.column
				h3 Local Backup Frequency
				select.ui.two.wide.fluid.search.menu#local-backup-freq
					option(value="") Select Option...
					option(value = 1 href='/backup/setmonthlylocal') Monthly
					option(value = 2 href='/backup/setweeklylocal') Weekly
					option(value = 3 href='/backup/setdailylocal') Daily
					option(value = 4 href='/backup/sethourlylocal') Hourly
					option(value = 5 href='/backup/deletelocalbackup') No Auto Local Backup
			.column
				h3 Cloud Backup Frequency
				select.ui.two.wide.fluid.search.menu#cloud-backup-freq
					option(value="") Select Option...
					option(value = 1 href='/backup/setmonthlycloud') Monthly
					option(value = 2 href='/backup/setweeklycloud') Weekly
					option(value = 3 href='/backup/setdailycloud') Daily
					option(value = 4 href='/backup/sethourlycloud') Hourly
					option(value = 5 href='/backup/deletecloudbackup') No Auto Cloud Backup

		.ui.container.right.aligned
			.ui.red.button.right.floated#backup-menu-cancel-button Back
			.ui.green.button.right.floated#save-settings-button Save

	script(type='text/javascript', src='/javascripts/backupSettings.js')
