extends layout

block content
	br
	br
	br
	form.ui.form#BIR(name='updateBIRComp', method='post', action='/updateBIRComp')
		h4.ui.dividing.header Update BIR Tax Table
		.field
			table.ui.celled.table#BIRTable
				thead
					tr
						th Dependents
						th 1
						th 2
						th 3
						th 4
						th 5
						th 6
						th 7
						th 8
				tbody
		.field
			.ui.button.submit#BIRSubmit Submit

	.ui.small.modal
		.header Success
		.content
			| Update Success
		.actions
			.ui.positive.right.button OK

	script(type='text/javascript', src='/javascripts/updateBIR.js')
	script(type='text/javascript').
		var bir =!{JSON.stringify(BIR)};
		var metadata =!{JSON.stringify(metadata[0])};