extends layout

block content
	title BIR View
	.block-content-container.ui.container
		br
		br
		br
		form.ui.form#BIR(name='updateBIRComp', method='post', action='/updateBIRComp')
			h3.ui.dividing.header Update BIR Tax Table
			.field(style="overflow-y:scroll; height: 55vh")
				table.ui.celled.mini.table#BIRTable
					thead
						tr
							th Dependents
							th 1
							th 2
							th 3
							th 4
							th 5
							th 6
							th 7
							th 8
					tbody
			.field
				.ui.button.submit#BIRSubmit Submit
		.ui.small.modal
			.header Confirm
			.content
				| Confirm Update?
			.actions
				.ui.positive.right.button#confirmBIR OK

		script(type='text/javascript', src='/javascripts/updateBIR.js')
		script(type='text/javascript').
			var bir =!{JSON.stringify(BIR)};
			var metadata =!{JSON.stringify(metadata[0])};