extends layout

block content
	title BIR Update
	.block-content-container.ui.container
		form.ui.form#BIR(name='updateBIRComp', method='post', action='/updateBIRComp')
			h2.ui.dividing.header.center.aligned BIR Tax Table
			.update-table
				table.ui.celled.mini.table#BIRTable
					thead
						tr
							th Dependents
							th 1
							th 2
							th 3
							th 4
							th 5
							th 6
							th 7
							th 8
					tbody
			.ui.container
				.ui.button.right.floated.submit#BIRSubmit Submit
				.ui.button.right.floated#BIRUpdate Update
		.ui.small.modal
			.header Confirm
			.content
				| Confirm Update?
			.actions
				.ui.positive.right.button#confirmBIR OK

		script(type='text/javascript', src='/javascripts/updateBIR.js')
		script(type='text/javascript').
			var bir =!{JSON.stringify(BIR)};
			var metadata =!{JSON.stringify(metadata[0])};

