extends layout

block content
	title Delete User
	.ui.container(style="margin: 15vh 0 0 0; padding: 0 8vh 0 0")
		.two.fields.center2
			.field
				i.remove.user.icon.huge.red
			.field
				h2.ui.dividing.header Delete User
		form.ui.form.center2.box(name='deleteUser', method='post', action='/deleteUser')
			.field
				select.ui.fluid.search.dropdown(name='username')
					option(value = "") Select User
					each user, index in users
						option(value= user.username)= user.username
			.ui.button#confirm Submit
			.ui.small.modal
				.header Confirm
				.content
					| Confirm Delete User
				.actions
					.ui.positive.submit.right.button OK

		script.
			$('#confirm').click(function(){
				$('.small.modal').modal('show');
			});
			$('.submit').click(function(){
				$('form').submit();
			})