extends layout

block content
	.two.fields.center2
		.field
			i.remove.user.icon.massive.red
		.field
			h2.ui.dividing.header Delete Employee
	form.ui.form.center2.box(name='deleteEmployee', method='post', action='/employees/deleteEmployee')
		.field
			select.ui.fluid.search.dropdown(name='eID')
				option(value = "") Select Employee
				each employee, index in employees
					option(value= employee.eID)= employee.name

		button.ui.submit.button Submit