extends layout

block content
	title Delete Employee
	.two.fields.center2
		.field
			i.remove.user.icon.massive.red
		.field
			h2.ui.dividing.header Delete Employee
	form.ui.form.center2.box(name='deleteEmployee', method='post', action='/employees/deleteEmployee')
		.field
			select.ui.fluid.search.dropdown(name='eID')
				option(value = "") Select Employee
				each employee, index in employees
					option(value= employee.eID)= employee.name

		.ui.button#confirm Submit

		.ui.small.modal
			.header Confirm
			.content
				| Confirm Delete Employee
			.actions
				.ui.positive.submit.right.button OK

	script.
		$('#confirm').click(function(){
			$('.small.modal').modal('show');
		});
		$('.submit').click(function(){
			$('form').submit()
		})