extends layout

block content
	h1.ui.header Apples and Berries

	a.massive.ui.button(href='/payslip') PaySlip
	a.massive.ui.button(href='/checkvoucher') Check Voucher
	a.massive.ui.button(href='/pettycash') Petty Cash
	a.massive.ui.button(href='/employees/add') Add Employee
	a.massive.ui.button(href='/AR') Acknowledgement Receipt
	a.massive.ui.button(href='/employees/delete') Delete Employee
	a.massive.ui.button(href='/logout') Logout
	a.massive.ui.button(href='/view') View