extends layout

block content
	title Main Menu
	// Title
	.ui.middle.aligned.center.aligned.grid.stackable.doubling
		// Title
		.four.wide.column.row#menu-row
			.ui.center.aligned.container
				h1 Main Menu

		// 1st ROW Buttons
		.four.column.wide.row
			.column
				button#employee-module-button.ui.animated.fade.red.button.fluid(tabindex="0" onclick="location.replace('/employees')")
					.hidden.content
						h3
							| Add Employee
							br
							| Edit Employee
							br
							| Delete Employee
					.visible.content
						img.ui.tiny.centered.middle.aligned.image(src="icons/main_menu/employee_white.png")
						h3
							| Employee
							br
							| Management

			.column
				#payslip-module-button.ui.animated.fade.red.button.fluid(tabindex="0" onclick="location.replace('/payslip_view')")
					.visible.content
						img.ui.tiny.centered.middle.aligned.image(src="icons/main_menu/payslip.png")
						h3
							| Issue
							br
							| Payslip

					.hidden.content
						h3
							| Payslip Module
			.column
				#control-panel-module-button.ui.animated.fade.button.red.fluid(button="", tabindex="0" onclick="location.replace('/indexFinancials')")
					.visible.content
						img.ui.tiny.centered.middle.aligned.image(src="icons/main_menu/receipt1.png")
						h3
							| Manage
							br
							| Financials

					.ui.hidden.content
						.ui.center.aligned.fluid
							h3
								| Issue Acknowledgment Receipt
								br
								| Issue Check Voucher
								br
								| Issue Petty Cash

		// 2nd ROW Buttons
		.four.column.wide.row
			.column
				#manage-users-button.ui.animated.fade.red.button.fluid(tabindex="0" onclick="location.replace('/manageUsers')")
					.visible.content
						img.ui.tiny.centered.middle.aligned.image(src="icons/main_menu/employee_white.png")
						h3
							| Manage
							br
							| Users

					.hidden.content
						h3
							| Add Users
							br
							| Delete Users
			.column
				#check-voucher-module-button.ui.animated.fade.red.button.fluid(tabindex="0" onclick="location.replace('/updateTables')")
					.visible.content
						img.ui.tiny.centered.middle.aligned.image(src="icons/main_menu/check_voucher1.png")
						h3
							| Update
							br
							| Tables

					.hidden.content
						h3
							| BIR
							br
							| SSS
							br
							| PhilHealth
			.column
				#petty-cash-module-button.ui.animated.fade.button.red.fluid(button="", tabindex="0" onclick="location.replace('/backUp')")
					.visible.content
						img.ui.tiny.centered.middle.aligned.image(src="icons/main_menu/petty_cash.png")
						h3
							| Back Up
							br
							| Data
					.ui.hidden.content
						.ui.text.container.fluid
							h3
							| Back Up Locally
							br
							| Back Up to Cloud

	//- script(type='text/javascript', src='/javascripts/sorttable.js')
