extends layout

block content
	title Manage Financials
	// Title
	.ui.middle.aligned.center.aligned.grid.stackable.doubling
		// Title
		.four.wide.column.row#menu-row
			.ui.center.aligned.segment
				h1 Manage Financials

		.four.column.wide.row
			.column
				#AR-module-button.ui.animated.fade.red.button.fluid(tabindex="0" onclick="location.replace('/AR_view')")
					.visible.content
						img.ui.tiny.centered.middle.aligned.image(src="icons/main_menu/receipt1.png")

						h3
							| Acknowledgment
							br
							| Receipt
					.hidden.content
						h3
							| Issue Acknowledgment Receipt
			.column
				#check-voucher-module-button.ui.animated.fade.red.button.fluid(tabindex="0" onclick="location.replace('/checkvoucher_view')")
					.visible.content
						img.ui.tiny.centered.middle.aligned.image(src="icons/main_menu/check_voucher1.png")
						h3
							| Check
							br
							| Voucher
					.hidden.content
						h3
							| Issue Check Voucher
			.column
				#petty-cash-module-button.ui.animated.fade.button.red.fluid(button="", tabindex="0" onclick="location.replace('/pettycash_view')")
					.visible.content
						img.ui.tiny.centered.middle.aligned.image(src="icons/main_menu/petty_cash.png")
						h3
							| Petty
							br
							| Cash
					.ui.hidden.content
						.ui.text.container.fluid
							h3
								| Issue Petty Cash
		.four.column.wide.row
			.column
				#report-module-button.ui.animated.fade.red.button.fluid(tabindex="0")
					.visible.content
						img.ui.tiny.centered.middle.aligned.image(src="icons/main_menu/check_voucher1.png")
						h3
							| Download Report
					.hidden.content
						h3
							| Download Excel Report
		.four.column.wide.row
			//- .ui.selection.dropdown
			//- 	input(type='hidden' name='Year')
			//- 	i.dropdown.icon
			//- 	.default.text Year
			//- 	.menu
			//- 		.item(data-value="1") Hello
			//- 		.item(data-value="2") Hi
			h2 Choose Year:
			select#year.ui.dropdown
				

	script(type='text/javascript', src='/javascripts/sorttable.js')
	script.
		var curr = new Date();
		var year = curr.getFullYear();
		for(var c = 2017; c <= year; c++){
			$('#year').append("<option value=" + c + ">" + c.toString())
		}
		$('#report-module-button').click(function(){
			window.location = '/report?year=' + $('#year').val();
		})