extends layout

block content
	title Main Menu
	// Title
	.ui.middle.aligned.center.aligned.grid.stackable.doubling
		// Title
		.four.wide.column.row#menu-row
			.ui.center.aligned.container
				h1 Main Menu

		// 1st ROW Buttons
		.four.column.wide.row
			.column
				button#employee-module-button.ui.animated.fade.red.button.fluid(tabindex="0" onclick="location.assign('/employees')")
					.hidden.content
						h3
							| Add Employee
							br
							| Edit Employee
							br
							| Delete Employee
					.visible.content
						img.ui.tiny.centered.middle.aligned.image(src="icons/main_menu/employee_white.png")
						h3
							| Employee
							br
							| Management

			.column
				#payslip-module-button.ui.animated.fade.red.button.fluid(tabindex="0" onclick="location.assign('/payslip_view')")
					.visible.content
						img.ui.tiny.centered.middle.aligned.image(src="icons/main_menu/payslip.png")
						h3
							| Payslip
							br
							| Module

					.hidden.content
						h3 Issue Payslip
			.column
				#manage-financials-module-button.ui.animated.fade.button.red.fluid(button="", tabindex="0" onclick="location.assign('/indexFinancials')")
					.visible.content
						img.ui.tiny.centered.middle.aligned.image(src="icons/main_menu/receipt1.png")
						h3
							| Manage
							br
							| Financials

					.ui.hidden.content
						.ui.center.aligned.fluid
							h4
								| Issue Acknowledgment Receipt
								br
								| Issue Check Voucher
								br
								| Issue Petty Cash
								br
								|	Download Report

		// 2nd ROW Buttons
		.four.column.wide.row
			.column
				#manage-users-button.ui.animated.fade.red.button.fluid(tabindex="0" onclick="location.assign('/manageUsers')")
					.visible.content
						img.ui.tiny.centered.middle.aligned.image(src="icons/main_menu/manage_users.png")
						h3
							| Manage
							br
							| Users

					.hidden.content
						h3
							| Add Users
							br
							| Delete Users
			.column
				#update-tables-module-button.ui.animated.fade.red.button.fluid(tabindex="0" onclick="location.assign('/updateTables')")
					.visible.content
						img.ui.tiny.centered.middle.aligned.image(src="icons/main_menu/update_tables.png")
						h3
							| Update
							br
							| Tables

					.hidden.content
						h3
							| BIR
							br
							| SSS
							br
							| PhilHealth
			.column

				#backup-module-button.ui.animated.fade.button.red.fluid(button="", tabindex="0" onclick="location.assign('/backup')")
					.visible.content
						img.ui.tiny.centered.middle.aligned.image(src="icons/main_menu/backup.png")
						h3
							| Back Up
							br
							| Data
					.ui.hidden.content
						.ui.text.container.fluid
							h3 
								| Back Up Locally 
								br 
								| Back Up to Cloud
