extends layout

block content
	.block-grid.ui.middle.aligned.center.aligned.grid.stackable.doubling
		// Title
		.ui.center.aligned
			h1 Main Menu
		// 1st ROW Buttons
		.four.column.wide.row
			.column
				.ui.animated.fade.red.button.fluid(tabindex="0" onclick="location.replace('/payslip_view')")
					.visible.content
						img.ui.tiny.centered.middle.aligned.image(src="icons/main_menu/payslip.png")
						h3
							| Payslip
							br
							| Module

					.hidden.content
						| Issue Payslip
			.column
				.ui.animated.fade.red.button.fluid(tabindex="0" onclick="location.replace('/AR_view')")
					.visible.content
						img.ui.tiny.centered.middle.aligned.image(src="icons/main_menu/receipt1.png")

						h3
							| Acknowledgment
							br
							| Receipt

					.hidden.content
						| Issue Acknowledgment Receipt
		// 2nd ROW Buttons
		.four.column.wide.row
			.column
				.ui.animated.fade.red.button.fluid(tabindex="0" onclick="location.replace('/checkvoucher_view')")
					.visible.content
						img.ui.tiny.centered.middle.aligned.image(src="icons/main_menu/check_voucher1.png")
						h3
							| Check
							br
							| Voucher

					.hidden.content
						| Issue Check Voucher

			.column
				.ui.animated.fade.button.red.fluid(button="", tabindex="0" onclick="location.replace('/pettycash_view')")
					.visible.content
						img.ui.tiny.centered.middle.aligned.image(src="icons/main_menu/petty_cash.png")
						h3
							| Petty
							br
							| Cash
					.ui.hidden.content
						.ui.text.container.fluid
							h5
								| Issue Petty Cash