//- link(rel="stylesheet", type="text/css", href="semantic/dist/semantic.min.css")
//- script(src="semantic/dist/semantic.min.js")

extends layout

block content
	.ui.middle.aligned.center.aligned.grid.stackable.doubling
		//- .row
		//- .row
		.row
		// Title
		.row
			.ui.center.aligned
				h1 Main Menu
		.row
		// 1st ROW Buttons
		.four.column.wide.row
			.column
				button.ui.animated.fade.red.button.fluid(tabindex="0" onclick="location.replace('/')")
					.visible.content
						img.ui.tiny.centered.middle.aligned.image(src="icons/main_menu/employee_white.png")					
						h3
							| Employee
							br
							| Management

					.hidden.content
						| Add Employee
						br
						| Edit Employee
						br
						| Delete Employee
			.column
				.ui.animated.fade.red.button.fluid(tabindex="0" onclick="location.replace('/payslip_view')")
					.visible.content
						img.ui.tiny.centered.middle.aligned.image(src="icons/main_menu/payslip.png")
						h3
							| Payslip
							br
							| Module

					.hidden.content
						| Issue Payslip
			.column
				.ui.animated.fade.button.red.fluid(button="", tabindex="0" onclick="location.replace('/controlpanel')")
					.visible.content
						img.ui.tiny.centered.middle.aligned.image(src="icons/main_menu/settings.png")
						h3
							| Control
							br
							| Panel

					.ui.hidden.content
						.ui.center.aligned.fluid
							| Update Tax Table
							br
							| Update Gov't Fees
		// 2nd ROW Buttons
		.four.column.wide.row
			.column
				.ui.animated.fade.red.button.fluid(tabindex="0" onclick="location.replace('/AR_view')")
					.visible.content
						img.ui.tiny.centered.middle.aligned.image(src="icons/main_menu/receipt1.png")

						h3
							| Acknowledgmet
							br
							| Receipt

					.hidden.content
						| Issue Acknowledgment Receipt
			.column
				.ui.animated.fade.red.button.fluid(tabindex="0" onclick="location.replace('/checkvoucher_view')")
					.visible.content
						img.ui.tiny.centered.middle.aligned.image(src="icons/main_menu/check_voucher1.png")
						h3
							| Check
							br
							| Voucher

					.hidden.content
						| Issue Check Voucher

			.column
				.ui.animated.fade.button.red.fluid(button="", tabindex="0" onclick="location.replace('/pettycash_view')")
					.visible.content
						img.ui.tiny.centered.middle.aligned.image(src="icons/main_menu/petty_cash.png")
						h3
							| Petty
							br
							| Cash
					.ui.hidden.content
						.ui.text.container.fluid
							h5
								| Issue Petty Cash
		.row
		.row

	script(src="http://www.kryogenix.org/code/browser/sorttable/sorttable.js")

	//- h1.ui.header Apples and Berries

	//- a.massive.ui.button(href='/payslip') PaySlip
	//- a.massive.ui.button(href='/checkvoucher_view') Check Voucher
	//- a.massive.ui.button(href='/pettycash_view') Petty Cash
	//- a.massive.ui.button(href='/employees/add') Add Employee
	//- a.massive.ui.button(href='/AR_view') Acknowledgement Receipt
	//- a.massive.ui.button(href='/employees/delete') Delete Employee
	//- a.massive.ui.button(href='/logout') Logout
	//- a.massive.ui.button(href='/view') View
	//- a.massive.ui.button(href='/updateComp') Update Comp Table
	//- a.massive.ui.button(href='/addUser') Create User
	//- a.massive.ui.button(href='/employees/editEmployee') Edit Employee