doctype html
html
	head
		title= title
		link(rel='stylesheet', type='text/css', href='/semantic/dist/semantic.min.css')
		script(type='text/javascript', src='/jquery/jquery.js')
		script(type='text/javascript', src='/semantic/dist/semantic.min.js')
		script(type='text/javascript', src='/javascripts/printThis.js')
		script(type='text/javascript', src='/bower_components/semantic-ui-calendar/dist/calendar.min.js')
		link(rel='stylesheet', type='text/css', href='/bower_components/semantic-ui-calendar/dist/calendar.min.css')
		link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')

		//- https://github.com/mdehoog/Semantic-UI-Calendar
	body
		.ui.container
			block content
