html
	head
		title= title
		link(rel='stylesheet', type='text/css', href='/semantic/dist/semantic.min.css')
		script(type='text/javascript', src='/javascripts/jquery-3.1.1.min.js')
		script(type='text/javascript', src='/semantic/dist/semantic.min.js')
		script(type='text/javascript', src='/javascripts/printThis.js')
		script(type='text/javascript', src='/bower_components/semantic-ui-calendar/dist/calendar.min.js')
		link(rel='stylesheet', type='text/css', href='/bower_components/semantic-ui-calendar/dist/calendar.min.css')
		link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')

		//- https://github.com/mdehoog/Semantic-UI-Calendar
	body
		// FIXED TOP NAVBAR
		.ui.inverted.left.vertical.sidebar.menu(style="overflow: visible !important;")
			.item
				i.grid.layout.icon
				| Menu
			.ui.left.pointing.dropdown.item
				//- span.text
				i.users.icon
				i.dropdown.icon
				| Employee Management
				.menu
					a.item
						| a
					a.item
						| b
			a.item
				//- span.text
				i.money.icon
				| Payslip Module
			.ui.left.pointing.dropdown.item
				//- span.text
				i.dropdown.icon
				i.settings.icon
				| Control Panel
				.menu
					a.item
						| a
					a.item
			a.item
				i.file.text.icon
				| Acknowledgement Receipt
			a.item
				i.payment.icon
				| Check Voucher
			a.item
				i.money.icon
				| Petty Cash
		.ui.top.borderless.main.menu.fixed
			// logo ilagay to sa gitna kung keri
			a.item.sidebar-button
				i.sidebar.icon
			.header.item(href="/")
				img.logo(src="/icons/apple.png")
				| A&B
			a.item(href="/")
				i.large.home.icon
				| Home
			.ui.right.floated.item
				.ui.icon.input
					input(type="text", placeholder="Search...")
					i.search.icon
				.ui.simple.dropdown.item(class="tabindex=")
					| UserPic
					i.user.icon
					i.dropdown.icon
					.ui.menu
						a.left.floated.item
							i.edit.icon
								| Edit Profile
						a.item(href="/logout")
							i.settings.icon
								| Sign Out
		.pusher
			.ui.page.container
				block content
		script.
			$('.ui.sidebar').sidebar('attach events', '.item.sidebar-button');
		script.
			$('.dropdown').dropdown({on: 'hover'});
			$('.sidebar .dropdown').dropdown({
				onShow: function(){
					$('.sidebar').css('z-index', 103);
				},
				onHide: function(){
					$('.sidebar').css('z-index', 1);
				}
			});