html
	head
		title= title
		link(rel='stylesheet', type='text/css', href='/semantic/dist/semantic.min.css')
		script(type='text/javascript', src='/javascripts/jquery-3.1.1.min.js')
		script(type='text/javascript', src='/semantic/dist/semantic.min.js')
		script(type='text/javascript', src='/javascripts/printThis.js')
		script(type='text/javascript', src='/bower_components/semantic-ui-calendar/dist/calendar.min.js')
		link(rel='stylesheet', type='text/css', href='/bower_components/semantic-ui-calendar/dist/calendar.min.css')
		link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')

		//- https://github.com/mdehoog/Semantic-UI-Calendar
	body
		// FIXED TOP NAVBAR
		.ui.inverted.left.vertical.sidebar.menu(style="overflow: visible !important;")
			.item
				i.grid.layout.icon
				| Menu
			.ui.left.pointing.dropdown.item#employee-dropdown
				//- span.text
				i.users.icon
				i.dropdown.icon
				| Employee Management
				.menu
					a.item(href='/employees/add')
						| Add Employee
					a.item(href='/employees/editEmployee')
						| Edit Employee
					a.item(href='/employees/delete')
						| Delete Employee
			a.item(href = '/payslip_view')
				//- span.text
				i.money.icon
				| Payslip Module
			a.item(href='/AR_view')
				i.file.text.icon
				| Acknowledgement Receipt
			a.item('checkvoucher_view')
				i.payment.icon
				| Check Voucher
			a.item(href='pettycash_view')
				i.money.icon
				| Petty Cash
			.ui.left.pointing.dropdown.item#controlpanel-dropdown
				//- span.text
				i.settings.icon
				i.dropdown.icon
				| Control Panel
				.menu
					a.item(href='/BIR')
						| BIR
					a.item(href='/SSS')
						| SSS
					a.item(href='/PH')
						| PhilHealth
					a.item(href='/addUser')
						| Add User
					a.item(href='/deleteUser')
						| Delete User
					a.item(href='/backup')
						| Backup
		.ui.top.borderless.main.menu.fixed
			// logo ilagay to sa gitna kung keri
			a.item.sidebar-button
				i.sidebar.icon
			.header.item(href="/")
				img.logo(src="/images/Logo.png")
				| A&B
			a.item(href="/")
				i.large.home.icon
				| Home
			.ui.right.floated.item
				.ui.icon.input
					input(type="text", placeholder="Search...")
					i.search.icon
				.ui.simple.dropdown.item(class="tabindex=")
					| UserPic
					i.user.icon
					i.dropdown.icon
					.ui.menu
						a.left.floated.item
							i.edit.icon
								| Edit Profile
						a.item(href="/logout")
							i.settings.icon
								| Sign Out
		.pusher
			.ui.page.container
				block content
		script.
			$('.ui.sidebar').sidebar('attach events', '.item.sidebar-button');
			$('.ui.sidebar').sidebar({
				dimPage: false,
				closable: false
			});

		script.
			$('.sidebar .dropdown').dropdown({
				onHide: function(){
					$('.sidebar').css('z-index', 1);
				},
				onShow: function(){
					$('.sidebar').css('z-index', 103);
				},
				on: 'hover',
			});
			$('#employee-dropdown').click(function(){
				window.location.href = '/employees';
			});
			$('#controlpanel-dropdown').click(function(){
				window.location.href = '/controlpanel';
			});