html
	head
		title= title
		link(rel='stylesheet', type='text/css', href='/semantic/dist/semantic.min.css')
		script(type='text/javascript', src='/javascripts/jquery-3.1.1.min.js')
		script(type='text/javascript', src='/semantic/dist/semantic.min.js')
		script(type='text/javascript', src='/javascripts/printThis.js')
		script(type='text/javascript', src='/bower_components/semantic-ui-calendar/dist/calendar.min.js')
		link(rel='stylesheet', type='text/css', href='/bower_components/semantic-ui-calendar/dist/calendar.min.css')
		link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')

		//- https://github.com/mdehoog/Semantic-UI-Calendar3D3E3F
	body
		#main-grid.ui.two.column.grid
			.row
				#fixed-top-menu.ui.top.inverted.borderless.mini.menu.fixed.fluid
					//- comment out hide show this via jquery this
					//- a#flm-toggle-button.header.item.sidebar-button
					//- 	i.sidebar.icon
					.header.item(href="/")
						img.logo(src='/images/Logo.png')
					a#main-menu-button.header.item(href="/")
						i.home.icon
						h5 A&B
					.ui.right.floated.item
						.ui.simple.dropdown.item(class="tabindex=")
							| Username
							i.user.icon
							i.dropdown.icon
							.ui.menu
								a.item(href="/logout")
									| Sign Out
									i.settings.icon
				#left-menu-container.ui.two.wide.column
					#fixed-left-menu.ui.fluid.vertical.labeled.icon.menu
						//- a#flm-employee-module-button.item(href='/employees')
						//- 	i.users.icon
						//- 	| Employees
						a#flm-payslip-module-button-user.item(href = '/payslip_view')
							i.money.icon
							| Payslip
							br
							| Module
						a#flm-AR-module-button.item(href='/AR_view')
							i.file.text.icon
							| AR
						a#flm-check-voucher-module-button.item(href='/checkvoucher_view')
							i.payment.icon
							| Check
							br
							| Voucher
						a#flm-petty-cash-button.item(href='/pettycash_view')
							i.money.icon
							| Petty Cash
						a#flm-generate-report-module-button.item(href = '/report')
							i.bar.chart.icon
							| Download
							br
							| Report

				.ui.fourteen.wide.column
					block content

		script(type='text/javascript', src='/javascripts/layout.js')
		script.
			var url= window.location.href;
			if(url.length<=22){
				$('#main-container').removeClass("ui fourteen wide column").addClass("ui sixteen wide column");
				$('#left-menu-container').hide()
			}
			if(window.location.href.indexOf("employees") > -1) {
				$('#flm-employee-module-button').css({'background-color': '#d19992'});
			}
			if(window.location.href.indexOf("payslip") > -1) {
				$('#flm-payslip-module-button').css({'background-color': '#d19992'});
			}
			if(window.location.href.indexOf("AR_view") > -1) {
				$('#flm-AR-module-button').css({'background-color': '#d19992'});
			}
			if(window.location.href.indexOf("checkvoucher") > -1) {
				$('#flm-check-voucher-module-button').css({'background-color': '#d19992'});
			}
			if(window.location.href.indexOf("pettycash") > -1) {
				$('#flm-petty-cash-module-button').css({'background-color': '#d19992'});
			}
