html
	head
		title= admin-user-account
		script(type='text/javascript', src='/javascripts/jquery-3.1.1.min.js')
		script(type='text/javascript', src='/javascripts/jquery-1.12.4.js')
		//- script(type='text/javascript', src='/javascripts/jquery.dataTables.min.js')
		//- script(type='text/javascript', src='/javascripts/dataTables.semantic-ui.min.js')
		script(type='text/javascript', src='/semantic/dist/semantic.min.js')


		script(type='text/javascript', src='/javascripts/printThis.js')
		script(type='text/javascript', src='/bower_components/semantic-ui-calendar/dist/calendar.min.js')

		link(rel='stylesheet', type='text/css', href='/semantic/dist/semantic.min.css')
		link(rel='stylesheet', type='text/css', href='/stylesheets/dataTables.semanticui.min.css')
		link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
		link(rel='stylesheet', type='text/css', href='/bower_components/semantic-ui-calendar/dist/calendar.min.css')

		//- https://github.com/mdehoog/Semantic-UI-Calendar3D3E3F
	body
		#main-grid.ui.two.column.grid
			.row
				#fixed-top-menu.ui.top.inverted.borderless.mini.menu.fixed
					#img-logo.item(href="/")
						img.logo(src='/images/Logo.png')
					a.item(href="/")
						i#home-logo.big.home.icon
						//- | Apples & Berries
						#company-name.item
							h5 A & B
					


					.ui.right.floated.item
						a#activity-log.item(href = '/activity_log')
							p Activity Log
						.ui.simple.dropdown.item(class="tabindex=0")
							i.large.user.icon
							p.current-user-name Username
							i.dropdown.icon
							.ui.menu
								a.item(href="/logout")
									p.logoff Sign Out
									//- i.sign.out.icon
				#left-menu-container.ui.two.wide.column
					#fixed-left-menu.ui.fluid.vertical.labeled.icon.menu
						a#flm-employee-module-button.item(href='/employees')
							i.users.icon
							| Employees
						a#flm-payslip-module-button.item(href = '/payslip_view')
							i.money.icon
							| Payslip
							br
							| Module
						a#flm-AR-module-button.item(href='/AR_view')
							i.file.text.icon
							| AR
						a#flm-check-voucher-module-button.item(href='/checkvoucher_view')
							i.payment.icon
							| Check
							br
							| Voucher
						a#flm-petty-cash-module-button.item(href='/pettycash_view')
							i.money.icon
							| Petty Cash

				#main-container.ui.fourteen.wide.column
					block content

		script(type='text/javascript', src='/javascripts/layout.js')
		script.
			var url= window.location.href;
			if(url.length<=22){
				$('#main-container').removeClass("ui fourteen wide column").addClass("ui sixteen wide column");
				$('#left-menu-container').hide()
			}
			if(window.location.href.indexOf("employees") > -1) {
				$('#flm-employee-module-button').css({'color':'#C03130', 'border-bottom':'5px solid #C03130'});
			}
			if(window.location.href.indexOf("payslip") > -1) {
				$('#flm-payslip-module-button').css({'color':'#C03130', 'border-bottom':'5px solid #C03130'});
			}
			if(window.location.href.indexOf("AR_view") > -1) {
				$('#flm-AR-module-button').css({'color':'#C03130', 'border-bottom':'5px solid #C03130'});
			}
			if(window.location.href.indexOf("checkvoucher") > -1) {
				$('#flm-check-voucher-module-button').css({'color':'#C03130', 'border-bottom':'5px solid #C03130'});
			}
			if(window.location.href.indexOf("pettycash") > -1) {
				$('#flm-petty-cash-module-button').css({'color':'#C03130', 'border-bottom':'5px solid #C03130'});
			}

	