extends layout

block content
	form.ui.form#payslip(name='payslip', method='post', action='/payslip')
		h4.ui.dividing.header Issue Payslip
		.field
			label Choose Employee
			select(name="employeeDropdown").ui.fluid.search.dropdown
				option(value="") Select Employee
				each employee, index in employees
					option(value=employee.eID)= employee.name

		.field
			label Choose Company
			select(name="companyDropdown").ui.fluid.search.dropdown
				option(value="") Select Company
				option(value="apples") Apples
				option(value="berries") Berries

		.two.fields
			.field
				label Start Date
				.ui.calendar#rangestart
					.ui.input.left.icon
						i.calendar.icon
						input(name="startDate", type="text", placeholder="start")
			.field
				label End Date
				.ui.calendar#rangeend
					.ui.input.left.icon
						i.calendar.icon
						input(name="endDate", type='text', placeholder="end")

		.field
			.ui.grid
				.eight.wide.column
					.field
						.two.fields
							.field
								label Deductibles
								.ui.input
									input(name="deductibles_name", type="text", placeholder="Item")
							.field
								label Amount
								.ui.input
									input(name="deductibles", type="number", placeholder="Amount...")
					.field#deductibles-side
						.ui.button#add-deductibles Add a row
						.ui.button#delete-deductibles Delete a row


				.eight.wide.column
					.field
						.two.fields
							.field
								label Allowance
								.ui.input
									input(name="allowance_name", type="text", placeholder="Item")
							.field
								label Amount
								.ui.input
									input(name="allowance", type="number", placeholder="Amount...")
					.field#allowance-side
						.ui.button#add-allowance Add a row
						.ui.button#delete-allowance Delete a row

		.ui.primary.submit.button Submit
		.ui.button#print-button Print
		.ui.error.message

	script(type='text/javascript' src='javascripts/scripts.js')
	script.
		console.log($('#rangestart').calendar('get date'));
