extends layout

block content
	form.ui.form#pettycash(name='pettycash', method='post', action='/pettycash')
		h4.ui.dividing.header Issue Petty Cash
		.field
			.two.fields
				.field
					label Name
					.ui.input
						input(name="name", type='text', placeholder='Name')

				.field
					label Date
					.ui.calendar#checkDate
						.ui.input.left.icon
							i.calendar.icon
							input(name="date", type="text", placeholder="Date")


		.field#pettyCash-particulars
			.two.fields
				.field
					label Particulars
					.ui.input
						input(name='particulars', type='text', placeholder='Name')

				.field
					label Amount
					.ui.input
						input(name="amount", type="number", placeholder="Amount...")

		.field
			.ui.button#add-field Add Field
		.ui.primary.submit.button Submit
		.ui.button#print-button Print
		.ui.error.message

	script(type='text/javascript' src='javascripts/scripts.js')
	script.
		console.log($('#rangestart').calendar('get date'));
