extends layout

block content
	.two.fields.center2
		.field
			i.dollar.icon.massive.red
		.field
			h2.ui.dividing.header Petty Cash
	form.ui.box.center2.form#pettycash(name='pettycash', method='post', action='/pettycash')
		
		.field
			label Name
			.ui.input#name-input
				input(name="name", type='text', placeholder='Name')

		.field
			label Date
			.ui.calendar#checkDate
				.ui.input.left.icon#date-input
					i.calendar.icon
					input(name="date", type="text", placeholder="Date")


		.field#pettyCash-particulars
			.two.fields.pettyCash-field
				.field
					label Particulars
					.ui.input.particulars-input
						input(name='particulars', type='text', placeholder='Name')

				.field
					label Amount
					.ui.input.amount-input
						input(name="amount", type="number", placeholder="Amount...")

		.field
			.ui.button#add-field Add Field
			.ui.button#remove-field Remove Field
			.ui.primary.button#pettyCash-preview Preview

		.ui.error.message

		.ui.modal
			i.close.icon
			.header Petty Cash Preview
			.content
				.ui.grid
					.one.wide.column.right-align
						| AN:
					.two.wide.column
						#AN.div-underline.center-align
							span
					.two.wide.column.right-align
						| Name: 
					.four.wide.column
						#name.div-underline.center-align
							span
					.three.wide.column.right-align
						| Date Issued:
					.four.wide.column
						#dateToday.div-underline.center-align
							span
					table.ui.small.compact.celled.table#particulars-table
						thead
							tr
								th Particulars
								th Amount
						tbody
					br
					.four.wide.right.floated.column
						| Total: 
						#total.div-underline
							span
			.actions
				.ui.disabled.primary.button.submit Submit
				.ui.button.print Print

	script(type='text/javascript').
		var an =!{JSON.stringify(an)};
	script(type='text/javascript' src='javascripts/scripts.js')
	script.
		console.log($('#rangestart').calendar('get date'));
