extends layout

block content
	.ui.container(style="margin: 10vh 0 0 0; padding: 0 8vh 0 0")
		br
		br
		br
		form.ui.form#PhilHealth(name='updatePHComp', method='post', action='/updatePHComp')
			h3.ui.dividing.header Update PhilHealth Table
			.field(style="overflow-y:scroll; height: 55vh")
				table.ui.celled.table#PHTable
					thead
						tr
							th Bracket
							th From
							th To
							th Base
							th Premium
							th Share
					tbody
			.field
				.ui.button.submit#PHSubmit Submit

		.ui.small.modal
			.header Confirm
			.content
				| Confirm Update?
			.actions
				.ui.positive.right.button#confirmPH OK

		script(type='text/javascript', src='/javascripts/updatePH.js')
		script(type='text/javascript').
			var philHealth =!{JSON.stringify(PH)};