extends layout

block content
	title PH View
	.block-content-container.ui.container
		form.ui.form#PhilHealth(name='updatePHComp', method='post', action='/updatePHComp')
			h2.ui.dividing.header.center.aligned PhilHealth Table
			.update-table
				table.ui.celled.mini.table#PHTable
					thead
						tr
							th Bracket
							th From
							th To
							th Base
							th Premium
							th Share
					tbody
			.ui.container
				.ui.button.right.floated.submit#PHSubmit Submit
				.ui.button.right.floated.submit#PHUpdate Update
				

		.ui.small.modal
			.header Confirm
			.content
				| Confirm Update?
			.actions
				.ui.positive.right.button#confirmPH OK

		script(type='text/javascript', src='/javascripts/updatePH.js')
		script(type='text/javascript').
			var philHealth =!{JSON.stringify(PH)};