extends layout

block content
	br
	br
	br
	form.ui.form#PhilHealth(name='updatePHComp', method='post', action='/updatePHComp')
		h4.ui.dividing.header Update PhilHealth Table
		.field
			table.ui.celled.table#PHTable
				thead
					tr
						th Bracket
						th From
						th To
						th Base
						th Premium
						th Share
				tbody
		.field
			.ui.button.submit#PHSubmit Submit

	.ui.small.modal
		.header Confirm
		.content
			| Confirm Update?
		.actions
			.ui.positive.right.button#confirmPH OK

	script(type='text/javascript', src='/javascripts/updatePH.js')
	script(type='text/javascript').
		var philHealth =!{JSON.stringify(PH)};