extends layout

block content
	title SSS View
	.block-content-container.ui.container
		form.ui.form#SSS(name='updateSSSComp', method='post', action='/updateSSSComp')
			h2.ui.dividing.header.center.aligned SSS Table
			.update-table
				table.ui.celled.mini.table#SSSTable
					thead
						tr
							th From
							th To
							th Credit
							th Total ER
							th Total EE
							th EC
							th Total
					tbody
			.ui.container
				.ui.button.right.floated.submit#SSSSubmit Submit
				.ui.button.right.floated.submit#SSSUpdate Update
		.ui.small.modal
			.header Confirm
			.content
				| Confirm Update?
			.actions
				.ui.positive.right.button#confirmSSS OK
				.ui.red.right.cancel.button Cancel

		script(type='text/javascript', src='/javascripts/updateSSS.js')
		script(type='text/javascript').
			var sss =!{JSON.stringify(SSS)};
