extends layout

block content
	title SSS View
	.block-content-container.ui.container
		br
		br
		br
		form.ui.form#SSS(name='updateSSSComp', method='post', action='/updateSSSComp')
			h3.ui.dividing.header Update SSS Table
			.field.update-table
				table.ui.celled.table#SSSTable
					thead
						tr
							th From
							th To
							th Credit
							th Total ER
							th Total EE
							th EC
							th Total
					tbody
			.field
				.ui.button.submit#SSSSubmit Submit

		.ui.small.modal
			.header Confirm
			.content
				| Confirm Update?
			.actions
				.ui.positive.right.button#confirmSSS OK

		script(type='text/javascript', src='/javascripts/updateSSS.js')
		script(type='text/javascript').
			var sss =!{JSON.stringify(SSS)};