extends layout

block content
	br
	br
	br
	form.ui.form#SSS(name='updateSSSComp', method='post', action='/updateSSSComp')
		h4.ui.dividing.header Update SSS Table
		.field
			table.ui.celled.table#SSSTable
				thead
					tr
						th From
						th To
						th Credit
						th Total ER
						th Total EE
						th EC
						th Total
				tbody
		.field
			.ui.button.submit#SSSSubmit Submit

	.ui.small.modal
		.header Success
		.content
			| Update Success
		.actions
			.ui.positive.right.button OK

	script(type='text/javascript', src='/javascripts/updateSSS.js')
	script(type='text/javascript').
		var sss =!{JSON.stringify(SSS)};