body{
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a{
	color: #372B62;
}

@media print{
	.content{
		width: 8.5in;
		height: 5.5in 
	}
}

.right-align{
	text-align: right;
}

.center-align{
	text-align: center;
}

.indent{
	text-indent: 4em;
	display: inline-block;
}

.indent-1{
	text-indent: 1em;
	display: inline-block;
}

.div-underline{
	border-bottom: 1px solid;
}

.hide{
	display: none;
}

.box{
	border-style: solid #FAFF8E;
	padding: 10px;
	border-radius: 25px;
}

.center2 {
	margin-left: 25%;
	width: 50%;
	/*height: 100%;*/
	padding: 20px;
	/*padding-top: 5rem;*/
}

.center1 {
	margin-left: 100%;
	width: 25%;
	height: 100%;
	padding: 20px;
}

#menu-row {
	margin-top: 2rem;
	padding: 2.5rem;
}

#view-row{
	margin-top: 6rem;
	padding: 2.5rem;
	padding-bottom: 0;
}

.ui.page.container{
	padding-top: 4rem;
}