body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

@media print{
	.content{
		width: 8.5in;
		height: 5.5in 
	}
}

.right-align{
	text-align: right;
}

.indent{
	text-indent: 4em;
	display: inline-block;
}

.indent-1{
	text-indent: 1em;
	display: inline-block;
}

.div-underline{
	border-bottom: 1px solid;
}

.hide{
	display: none;
}