body{
	/*padding: 50px;*/
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-color: #9E6363 !important;
	height: 105vh !important;
}

a{
	color: #372B62;
}

@media print{
	.content{
		width: 8.5in;
		height: 5.5in 
	}
}

.right-align{
	text-align: right;
}

.center-align{
	text-align: center;
}

.indent{
	text-indent: 4em;
	display: inline-block;
}

.indent-1{
	text-indent: 1em;
	display: inline-block;
}

.div-underline{
	border-bottom: 1px solid;
}

.hide{
	display: none;
}

.box{
	border-style: solid #FAFF8E;
	padding: 10px;
	border-radius: 25px;
}
	
.center2 {
	margin-left: 25%;
	width: 50%;
	/*height: 100%;*/
	padding: 20px;
	/*padding-top: 5rem;*/
}

.center1 {
	margin-left: 100%;
	width: 25%;
	height: 100%;
	padding: 20px;
}

#view-row{
	margin-top: 1rem;
	padding: 2.5rem;
	padding-bottom: 0;
}

.ui.page.container{
	padding-top: 4rem;
}

.header-print{
	font-size: 24px;
}

.custom-menu {
	display: none;
	z-index: 1000;
	position: fixed;
	overflow: hidden;
	border: 1px solid #CCC;
	white-space: nowrap;
	font-family: sans-serif;
	background: #FFF;
	color: #333;
	border-radius: 5px;
	list-style: none;
	padding-left: 0;
}

.custom-menu li {
	padding: 8px 12px;
	cursor: pointer;
}

.custom-menu li:hover {
	background-color: #DEF;
}

.ui.middle.center.aligned.grid {
	margin: -14px 0;
}

table {
	margin: 0 1rem;
}

.ui.two.wide.column {
	background-color: #333;
}

/*ui.vertical.fluid.inverted.labeled.icon.menu(style="height: 100%; background: #3D3E3F !important")*/
/*.ui.vertical.fluid.inverted.labeled.icon.menu{
height: 100%; background: #333 !important
}*/

.ui.fluid.large.red.four.wide{
background-color: #932F2F;
}

#section-title{
	margin: 50px 10px 10px 10px;
}

#fixed-top-menu{
	margin: 0; 
	border-radius: 0px;
	background: #9E6363: !important;
	background-color: #723838: !important;
}

#main-grid{
background: #9E6363: !important;
	
	
}

button{
	background-color: #932F2F !important;
}


#left-menu > .a.item{

	background-color: #632222 !important;

}

[id^="section"] {
	margin: 80 10 10 10 !important;
}

.ui.vertical.menu {
	background: #966A6A !important;
}

.ui.icon.menu>.item{
	background-color: #9F3A38 !important;
}


#flm-employee-module-button {
	color:#9F3A38 !important;

}

#employee-module-button{
	background-color: #9F3A38 !important;
}

.ui.red.button, .ui.red.buttons .button{
	background-color: #9F3A38 !important;

}
/*
.ui.animated.fade.red.button.fluid{
	background-color: #932F2F !important;
}*/


/*COLORS
#282828
#545454
#B19191
#9E6363
#723838
#932F2F color ng texts sa input field na dark
#632222
#FFFFFF
#F0F0F0
#9F3A38 color ng icons na dark 
#FFF6F6
#966A6A
#943d3d
#CF8B8B Color ng icons at texts
FFEAEA INPUT FIELDS COLOR DEFAULT


*/
